body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,9,121,0.22452731092436973) 42%, rgba(125,255,0,1) 82%);
    
}

.bod{
    border-style: inset;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
   background-image: url(i12.jpg);
}

.im1{
    width: 150px;
    height: 150px;
    border-radius: 500%;
    text-align: center;
}

.bod1{
    display: inline-block;
    padding: 5px;
    margin: 0 30%;
    animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 4s; /* don't forget to set a duration! */
    border: 1px #3f1818 solid;
    background-color: rgb(137, 145, 153);
    font-family: cursive;
    font-weight: 200px;
    font-size: 18px;
    width: 40%;
}

.bod2{
    border: 1px #363636 solid;
    padding: 5px;
    text-align: center;
    font-family: cursive;
    font-weight: 200px;
    font-size: 18px;
    height: auto;
    width: 80%;
    margin: 2% 10%;
    background-color: cornsilk;
}

.text1{
    padding-top: 2%;
    text-align: center;
    font-family: cursive;
    font-weight: 300px;
    font-size: 27px;
}

.text2{
    padding-top: 2%;
      text-align: center;
      font-family: cursive;
      font-weight: 300px;
      font-size: 27px;
}

.card{
    border: transparent;
  }

.row {
      margin-left: 5%;
  }

hr {
    display: block;
    height: 2px;
    border: 0;
    border-top: 3px solid rgb(14, 3, 3);
    margin-left: 530px;
    margin-right: 500px;
    padding: 0px;
}

.heure-centre{
    text-align: center;
    font-family: cursive;
    font-weight: 250px;
    font-size: 27px;
}

.text3{
    
    text-align: center;
}

.text4{
    
    text-align: center;
}

.text5{
    text-align: center;
}

.couleur{
    color: #fff;
    margin-top: 2%;
}
